
img{
    width: 40%;
    min-width: 150px;
    border: 2px solid pink;
    border-radius: 10px;
    display:block;
    margin: 0 auto;
}
figure{
    text-align: center;
    font-size: 1.25rem;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aliceblue;
}

nav{
    display: flex;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(216, 189, 189);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px pink;
    border-radius: 5px;
    transition: background-color 0.15s linear;
    background-color: rgb(216, 189, 189);
    text-decoration: none;
    
}
a:hover{
    background-color: pink;
}
